@mixin clearfix {
    &::after{
        content:"";
        display:table;
        clear: both;
    }
}

@mixin absCenter { // perfect center of page 
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

//0-600PX PHONE
//600-900PX TABLET PORTRAIT
//900-1200PX TABLET LANDSCAPE
//1200 NORMAL STYLE/STATE FOR DESKTOP FIRST
//1800 + BID DESKTOP

// @mixin respond-phone{
//     @media (max-width:600px) {@content}; @content allows you to pass a block of code into a mixin  
// }

/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: 
-Base + typography
-General layout + grid(header footer etc)
-page layout
-components

Need to convert px to em incase the user changes the deafault size/ ems not rems as rems doesnt work in some browsers
So for eg
1em = 16px 
600/16px = 37.5 em
This will be converted to px and adapted to the font size of the user - MORE ACCESSABLE
only screen means that its only applied to screens NOT when printed out (GOOD PRACTICE)
*/

@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media only screen and (max-width:37.5em) {@content}; //600px
    }
    @if $breakpoint == tab-port{
        @media only screen and (max-width:56.25em) {@content}; //900px
    }
    @if $breakpoint == tab-land{
        @media only screen and (max-width:75em) {@content}; //1200px
    }
    @if $breakpoint == big-desktop{
        @media only screen and (min-width:112.5em) {@content}; //1800px
    }

}